.button {
}

.disabled {
}

.secondary {
}

.default {
	background-color: blue;
	color: white;
}

.red {
	background-color: red;
	color: white;

}

.default:hover {
}

.red:hover {
	color: red;
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
	color: red;
}

.button:disabled {
}
